VITE_SUPABASE_URL=https://pzzebvuyscwaecfcijsm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6emVidnV5c2N3YWVjZmNpanNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTExNDAsImV4cCI6MjA4OTY4NzE0MH0.5JTEVNI0ZIuZ9iEjhWOdz_YfDg8ReKG92VvP7kPF90o
